[Desktop Entry]
Type=Link
Name=Cambrionix Linux Widescreen
Icon=icon.png
Comment=This is the Cambrionix Linux profile that is tweaked for widescreen devices.
