[Desktop Entry]
Type=Link
Name=Cambrionix Linux
Icon=icon.png
Comment=This is the Cambrionix Linux profile that is universal for most systems. Choose this if you are not sure what to choose.
